* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #3d3d3f;
}

body {
  background-color: #f6f5f3;
  overflow-x: hidden;
}

.container, header .navbar, main .banner, main .main-info, main .tribute, footer .navigate, footer .contact, footer .location, footer .disclaimer {
  width: 100%;
  padding: 10px 10px;
}

header {
  width: 100%;
  background-color: #7dce94;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .navbar .logo {
  font-size: 1.2rem;
  margin: 1.3rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: start;
}

header .navbar .nav-links {
  display: none;
}

header .navbar .nav-links ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .navbar .nav-links ul li {
  list-style: none;
}

header .navbar .nav-links ul li a {
  text-decoration: none;
  font-weight: 700;
  padding: .5rem 1rem;
  display: block;
}

header .navbar .nav-links.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navbar .toggle-button {
  position: absolute;
  right: 1.5rem;
  top: 1.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 31px;
  height: 21px;
}

header .navbar .toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #3d3d3f;
  border-radius: 10px;
}

main {
  position: relative;
  width: 100vw;
}

main .banner {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

main .banner video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: auto;
}

main .banner .banner-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f6f5f3;
}

main .main-info {
  position: relative;
  padding: 1rem;
}

main .main-info ul {
  list-style-position: inside;
}

main .tribute {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  line-height: 1rem;
}

footer {
  position: relative;
  width: 100vw;
  background-color: #7dce94;
}

footer .navigate {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer .navigate ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  line-height: 2rem;
}

footer .navigate ul a {
  text-decoration: none;
}

footer .contact, footer .location, footer .disclaimer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  line-height: 1rem;
}

@media (hover: hover) and (pointer: fine) {
  .nav-links li:hover {
    background-color: white;
  }
}

@media (min-width: 600px) {
  .navbar {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .navbar .bar {
    display: none;
  }
  .navbar .logo {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
  .navbar .nav-links {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    width: 50%;
  }
  .navbar .nav-links ul {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 100%;
    width: 100%;
  }
  .navbar .nav-links ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

/* section {
    @extend .container;
    position: relative;
    width: 100%;
    height: 100%;

    .gmap_canvas {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: auto;

      .gmap {
        padding: none;
        margin: none;
        width: 100%;
        height: 100%;
      }
    }

  }
}*/
/*# sourceMappingURL=style.css.map */