* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #3d3d3f;
}

body {
  /*
  display: flex;
  flex-direction: column;
  */
  background-color: #f6f5f3;
}

.container, header .navbar, main .banner, main .main-info, footer .navigate, footer .contact, footer .location, footer .disclaimer {
  width: 100vw;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
  background-color: #7dce94;
  z-index: 999;
}

header .navbar {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*  .nav-links:active {
      display: flex;          
  }*/
}

header .navbar .logo {
  font-size: 1em;
  margin: 1.3em;
  font-weight: bolder;
}

header .navbar .nav-links {
  display: none;
  /*flex-direction: column;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      //height: 100%;
      width: 100%;
      background: color(secondary);*/
  /*li:hover {
         background-color: color(hover_color);
      }*/
}

header .navbar .nav-links ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navbar .nav-links ul li {
  list-style: none;
}

header .navbar .nav-links ul li a {
  text-decoration: none;
  padding: .5em 1em;
  display: block;
}

header .navbar .toggle-button {
  position: absolute;
  right: 1.5em;
  top: 1.3em;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 31px;
  height: 21px;
}

header .navbar .toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #3d3d3f;
  border-radius: 10px;
}

main {
  position: relative;
  top: 10vh;
  width: 100vw;
  background-color: orange;
}

main .banner {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

main .banner video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: auto;
}

main .banner .banner-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f6f5f3;
}

main .main-info {
  position: relative;
  padding: 1em;
}

main .main-info ul {
  list-style-position: inside;
}

footer {
  position: relative;
  width: 100vw;
  background-color: red;
}

footer .navigate {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

footer .navigate ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  line-height: 2em;
}

footer .navigate ul a {
  text-decoration: none;
}

footer .contact, footer .location, footer .disclaimer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
  line-height: 1em;
}

@media (hover: hover) and (pointer: fine) {
  .nav-links li:hover {
    background-color: white;
  }
}

@media (min-width: 600px) {
  .bar {
    display: none;
  }
  .nav-links {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

/* section {
    @extend .container;
    position: relative;
    width: 100%;
    height: 100%;

    .gmap_canvas {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: auto;

      .gmap {
        padding: none;
        margin: none;
        width: 100%;
        height: 100%;
      }
    }

  }
}*/
/*# sourceMappingURL=style.css.map */