
$colors: (
  text: #3d3d3f,
  primary: #f6f5f3,
  secondary: #7dce94,
  hover_color: white
);


@function color($color_name) {
  @return map-get($colors, $color_name);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: color(text);
}

body
{
  background-color: color(primary);  
  overflow-x: hidden;
}

.container 
{
  width: 100%;
  padding: 10px 10px;
}

header {
  width: 100%;
  background-color: color(secondary);  

  .navbar {
    @extend .container;
    display: flex; 
    flex-direction: column; 
  
    .logo {   
      font-size: 1.2rem;
      margin: 1.3rem;      
      font-weight: 600;
      display: flex;
      align-self: start;
    }
  
    .nav-links {
      display: none;

      ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;        
        width: 100%;         

        li {
          list-style: none;

          a {
            text-decoration: none;
            font-weight: 700;
            padding: .5rem 1rem;
            display: block;
          }
        }
      }
    }

    .nav-links.active {
      display: flex;
    }

    .toggle-button {
      position: absolute;
      right: 1.5rem;
      top: 1.9rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 31px;
      height: 21px;

      .bar {
        height: 3px;
        width: 100%;
        background-color: color(text);
        border-radius: 10px;
      }
    }  
  }
}


main {
  position: relative;
  width: 100vw;
  

  .banner {
    @extend .container;
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;    

    video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
      height: 100%;
      width: auto;
    }

    .banner-text {    
      position: absolute;
      top: 0;
      right: 0; 
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);  
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: color(primary);      
    }    
  }

  .main-info {
    @extend .container;
    position: relative;
    padding: 1rem;

    ul {
      list-style-position: inside;
    }
  }

  .tribute {
    @extend .container;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;    
    line-height: 1rem;
  }
}


footer {
  position: relative;
  width: 100vw;
  background-color: color(secondary);

  .navigate {
    @extend .container;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    ul {
      display: flex;
      flex-direction: column;      
      align-items: center;
      list-style: none;
      line-height: 2rem;

      a {
        text-decoration: none;
      }      
    }
  }

  .contact, .location, .disclaimer {
    @extend .container;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;    
    line-height: 1rem;
  }
}

//----------------- MEDIA QUERIES ----------------------//
  
@media (hover: hover) and (pointer: fine) {
  .nav-links li:hover {      
    background-color: color(hover_color);
  }
}

@media (min-width: 600px) {

  .navbar {
    display: flex !important;
    
    .bar {
      display: none;

    }
    
    .logo {
      flex: 5;
    }
  
    .nav-links {
      display: flex !important;
      flex: 5;
      width: 50%;
      
  
      ul { 
        flex-direction: row !important;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
  
        li {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
        }
      } 
  }

  


  }

}

 /* section {
    @extend .container;
    position: relative;
    width: 100%;
    height: 100%;

    .gmap_canvas {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: auto;

      .gmap {
        padding: none;
        margin: none;
        width: 100%;
        height: 100%;
      }
    }

  }
}*/